.head{
	width: 100%;
	height: 79px;
	background-color: #fafafa;
}
.head_neikuan{
	width: 1200px;
	height: 100%;
	background-color: #fafafa;
	margin: 0 auto;
}
.head_LOGO{
	width: 110px;
	height: 79px;
	float: left;
}
.head_LOGO h1{
	color: #2b6c8c;
	font-size: 22px;
	margin-top: 14px;
	float: right;
	font-weight: normal;
}
.logo_img{
	width: 48px;
	height: 39px;
	padding: 9px 0 11px 7px;
	float: left;
}
.head_title{
	width: 782px;
	height: 100%;
	/* background-color: pink; */
	float: right;
}
.head_title span{
	font-size: 14px;
	color: #474747;
	line-height: 79px;
	margin-right: 38px;
}
.head_title_sousuo{
	width: 169px;
	height: 23px;
	border: 1px solid #bfbfbf;
	border-radius: 12.5px;
	float: right;
	margin: 25px 22px 0 0;
}
.banner{
	width: 100%;
	height: 248px;
	background-color: #bdccd4;
	position: relative;
	/* overflow: hidden; */
	z-index: 0;
}
.banner .aa11aa{
	font-family: "Arial";
	font-size: 62px;
	font-weight: bold;
	color: #fff;
	text-align: center;
	line-height: 248px;
}
.banner img{
	width: 102px;
	height: 231px;
	position: absolute;
	left: 48%;
	top: 53px;
	z-index: 2;
}
#shafatupian{
	width: 273px;
	height: 255px;
	left: 44%;
	z-index: -1;
	top: 30px;
}
#guanyuwm_tupian{
	width: 207px;
	height: 272px;
	left: 46%;
	top: 14px;
	z-index: -1;
}
.banner .shafa{
	width: 265px;
	height: 248px;
	position: absolute;
	z-index: 5;
	left: 67%;
	top: 131px;
	
}
.banner_yuanjiaojuxing{
	width: 139px;
	height: 139px;
	border-radius: 10px;
	background-color: rgba(255, 234, 5,1.0);
	position: absolute;
	z-index: 6;
	left: 65%;
	top: 259px;
	mix-blend-mode: multiply;
}
.banner_shuoming{
	width: 1200px;
	height: 70px;
	background:linear-gradient(to right,black 30%,#f5c813 0,#f5c813 30.4%,#2b6c8c 0,#2b6c8c 100%);
	margin: 0 auto;
	position: absolute;
	z-index: 4;
	left: 18.75%;
	top: 214px;
}
.banner_anlishangmian{
	width: 35px;
	height: 2px;
	background-color: #2b6c8c;
	position: absolute;
	z-index: 4;
	left: 49.8%;
	top: 145px;
}
.banner h1{
	font-size: 40px;
	font-weight: normal;
	color: #fff;
	position: absolute;
	z-index: 4;
	left: 47%;
	top: 150px;
}
.shuoming_zuo{
	width: 326px;
	height: 70px;
	float: left;
	padding: 0 0 0 30px;
}
.shuoming_zuo p{
	font-size: 18px;
	font-family: "Arial";
	color: #fff;
	float: left;
	margin-top: 11px;
/* 	font-weight: bold; */
}
.shuoming_tiao{
	width: 6px;
	height: 70px;
	background-color: #f5c813;
	float: left;
}
.shutiao{
	width: 4px;
	height: 34px;
	background-color: #fff;
	border-radius: 2px;
	margin-top: 18px;
	margin-right: 3px;
	float: left;
}
.sangedian{
	width: 12px;
	height: 4px;
	float: left;
	margin: 31px 30px;
}
.shuoming_yuan_3{
	width: 4px;
	height: 4px;
	border-radius: 50%;
	background-color: #fff;
	float: left;
}
.shuoming_yuan_2{
	width: 4px;
	height: 4px;
	border-radius: 50%;
	background-color: rgba(255, 255, 255, .8);
	float: left;
}
.shuoming_yuan_1{
	width: 4px;
	height: 4px;
	border-radius: 50%;
	background-color: rgba(255, 255, 255, .5);
	float: left;
}
.chenggonganli{
	width: 100%;
	height: 1078px;
}
#tuanduijieshao{
	height: 162px;
}
.chenggonganli_title{
	width: 277px;
	height: 52px;
	margin: 68px auto 0;
	border-bottom: 2px solid #ccc;
	border-left: 1px solid #b4b4b4;
	border-right: 1px solid #b4b4b4;
	position: relative;
}
.chenggonganli_title P{
	font-family: "ZefaniStencil Regular";
	font-size: 24px;
	color: #184f6b;
	text-align: center;
	line-height: 54px;
}
.chenggonganli_title_top1{
	width: 11px;
	height: 1px;
	background-color: #b4b4b4;
	margin-right: 24px;
	float: left;
}
.chenggonganli_title_top2{
	width: 89px;
	height: 1px;
	background-color: #000;
	float: left;
	border-top: 1px solid #bbb;
	border-bottom: 1px solid #bbb;
	margin-right: 9px;
}
.chenggonganli_title_top3{
	width: 10px;
	height: 10px;
	background-color: #184f6b;
	transform: rotate(45deg);
	position: absolute;
	left: 128px;
	top: -4px;
}
.chenggonganli_title_top4{
	width: 89px;
	height: 1px;
	background-color: #000;
	float: left;
	border-top: 1px solid #bbb;
	border-bottom: 1px solid #bbb;
	margin-left: 9px;
}
.chenggonganli_title_top5{
	width: 11px;
	height: 1px;
	background-color: #b4b4b4;
	margin-left: 24px;
	float: right;
}
#chenggonganli_title_small{
	text-align: center;
	font-size: 22px;
	color: #000;
	font-weight: bold;
	margin-bottom: 12px;
}
.chenggonganli_title_xiushi{
	width: 85px;
	height: 1px;
	margin: 0 auto 30px;
	position: relative;
}
.chenggonganli_title_xiushi_xia1{
	width: 36px;
	height: 1px;
	background-color: #888;
	float: left;
}
.chenggonganli_title_xiushi_xia2{
	width: 36px;
	height: 1px;
	background-color: #888;
	float: right;
}
.chenggonganli_title_xiushi_xia3{
	width: 6px;
	height: 6px;
	background-color: #184f6b;
	border-radius: 50%;
	position: absolute;
	left: 39px;
	top: -2px;
}
.chenggonganli_content{
	width: 1018px;
	height: 843px;
	margin: 0 auto;
	position: relative;
/* 	background-color: pink; */
}
.chenggonganli_content_1{
	width: 468px;
	height: 443px;
	border-radius: 4px;
	border: 2px solid #e4e4e4;
	float: left;
}
.chenggonganli_content_1_img{
	width: 468px;
	height: 342px;
	position: relative;
}
.chenggonganli_content_1_touxiang{
	width: 57px;
	height: 57px;
	border-radius: 50%;
	border: 6px solid #fff;
	background-image: url('../img/images/chenggonganli_content_1_touxiang_img.png');
	background-size: contain;
	box-shadow: 0 5px 15px #2b6c8c;
	position: absolute;
	left: 30px;
	top: 301px;
}
.chenggonganli_content_1_neirong{
	width: 351px;
	height: 101px;
/* 	background-color: pink; */
	float:right;
}
.chenggonganli_content_1_neirong_shejishi{
	width: 331px;
	height: 33px;
/* 	background-color: blue; */
	border-bottom: 1px solid #dcdcdc;
}
.chenggonganli_content_1_neirong_shejishi_name{
	font-size: 14px;
	color: #828282;
	line-height: 33px;
}
.chenggonganli_content_1_neirong_shejishi_ENGname{
	font-size: 16px;
	color: #2b6c8c;
	font-family: "San Francisco Display Heavy";
	line-height: 33px;
	margin-left: 16px;
}
.chenggonganli_content_1_neirong_shejishi_shuo{
	width: 280px;
	height: 67px;
	float: left;
}
.chenggonganli_content_1_neirong_shejishi_say{
	font-size: 14px;
	color: #3f3f3f;
	margin-top: 10px;
}
.chenggonganli_content_1_neirong_shejishi_shuo_more{
	width: 28px;
	height: 26px;
	border: 2px solid #dcdcdc;
	float: right;
	font-size: 10px;
	font-weight: bold;
	color: #7f7f7f;
	line-height: 26px;
	text-align: center;
	margin-right: 19px;
	margin-top: 11px;
}
.wanchenganli_content_shejishi_more{
	width: 28px;
	height: 26px;
	background-color: #000;
	float: right;
	font-size: 14px;
	font-weight: bold;
	color:#fff;
	line-height: 26px;
	text-align: center;
	margin-right: 19px;
	margin-top: 31px;
}
.chenggonganli_content_2{
	width: 228px;
	height: 341px;
	border-radius: 4px;
	border: 2px solid #e4e4e4;
	float: left;
	position: relative;
	margin-left: 36px;
	margin-bottom: 51px;
}
.chenggonganli_content_2_img{
	width: 228px;
	height: 229px;
}
.chenggonganli_content_2_touxiang{
	width: 57px;
	height: 57px;
	border-radius: 50%;
	border: 6px solid #fff;
	background-image: url('../img/images/chenggonganli_content_1_touxiang_img.png');
	background-size: contain;
	box-shadow: 0 5px 15px #2b6c8c;
	position: absolute;
	left: 23px;
	top: 192px;
}
.chenggonganli_content_2_neirong{
	width: 227px;
	height: 112px;
/* 	background-color: pink; */
}
.chenggonganli_content_2_neirong_shejishi{
	width: 197px;
	height: 51px;
	margin: 0 auto;
/* 	background-color: blue; */
	border-bottom: 1px solid #dcdcdc;
}
.chenggonganli_content_2_neirong_shejishi_ENGname{
	font-size: 16px;
	color: #2b6c8c;
	font-family: "San Francisco Display Heavy";
	margin-left: 97px;
	margin-top:14px ;
}
.chenggonganli_content_2_neirong_shejishi_say{
	width: 197px;
	height: 47px;
	margin: 0 auto;
	font-size: 14px;
	color: #3f3f3f;
}
.chenggonganli_content_3{
	margin-left: 0px;
	position: absolute;
	left: 0;
	top: 477px;
}
.chenggonganli_content_4{
	margin-left: 0px;
	position: absolute;
	left: 265px;
	top: 477px;
}
.chenggonganli_content_5{
	margin-left: 72px;
}
.guodu{
	width: 1366px;
	height: 363px;
	margin: 0 auto;
}
.guodu_img_left{
	width: 651px;
	height: 363px;
	float: left;
}
.guodu_img_right{
	width: 715px;
	height: 100%;
	position: relative;
	float: right;
	background-color: #2b6c8c;
}
.guodu_img_right img{
	position: absolute;
	mix-blend-mode: multiply;
	top: 19px;
	left: 200px;
}
.guodu_xuanchuan{
	width: 356px;
	height: 139px;
/* 	background-color: pink; */
	margin-top: 54px;
	margin-left: 42px;
}
.guodu_xuanchuan_1{
	font-size: 14px;
	color: #fff;
	margin-bottom: 14px;
}
.guodu_xuanchuan_2{
	color: #fff;
	font-size: 40px;
	font-family: "San Francisco Display Light";
	line-height: 40px;
}
.guodu_xuanchuan_3{
	font-family: "San Francisco Display bold";
	color: #fff;
	font-size: 24px;
}
.GOINDJASKsay{
	font-size: 16px;
	font-family: "San Francisco Display Heavy";
	color: #4e4831;
	margin-left: 42px;
	margin-top: 107px;
}
.wanchenganli_caidanzhanshi{
	width: 448px;
	height: 17px;
	margin: 0 auto;
/* 	background-color: pink; */
	padding: 5px 0 8px 0;
	text-align: center;
	text-align: right;
	text-align: justify;
	text-justify: inter-word;
}
.wanchenganli_caidanzhanshi span{
	font-size: 16px;
	color: #000;
	font-weight: bold;
	display: inline-block;
}
.wanchenganli_caidanzhanshi i{
	display: inline-block;
	width: 100%;
	font-size: 0;
	line-height: 0;
}
.wanchenganli_content{
	width: 992px;
	height: 986px;
	/* background-color: pink; */
	margin: 58px auto 0;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-content: space-between;
}
.wanchenganli_content li{
	width: 314px;
	height: 307px;
	/* background-color: skyblue; */
	border-radius: 4px;
	border: 2px solid #e4e4e4;
	float: left;
}
.wanchenganli_content_img{
	width: 314px;
	height: 163px;
	/* background-color: pink; */
}
.wanchenganli_content_name{
	width: 248px;
	height: 42px;
	margin: 22px 0 0 22px;
}
.wanchenganli_content_name_1{
	font-size: 20px;
	color: #3f3f3f;
}
.wanchenganli_content_name_2{
	font-size: 14px;
	color: #828282;
	font-weight: lighter;
}
.wanchenganli_content_touxiang{
	margin: 22px 0 0 22px;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	border: 3px solid #e5e5e5;
	background-image: url('../img/images/wanchenganlitouxiang.png');
	background-size: contain;
	position: relative;
	float: left;
}
.wanchenganli_content_touxiang img{
	position: absolute;
	left: 10px;
	top: -8px;
}
.wanchenganli_content_shejishi_name{
	width: 160px;
	height: 19px;
	margin: 39px 0 0 12px;
/* 	background-color: black; */
	float: left;
}
.wanchenganli_content_shejishi_name_1{
	font-size: 14px;
	color: #828282;
}
.wanchenganli_content_shejishi_name_2{
	font-size: 10px;
	color: #828282;
	font-family: "San Francisco Display Light";
}
.wanchenganli_content_shejishi_name_3{
	font-size: 16px;
	font-family: "an Francisco Display";
	color: #2b6c8c;
	font-weight: bold;
}
.yemiantiaozhuan{
	width: 323px;
	height: 24px;
/* 	background-color: pink; */
	margin: 61px auto 0;
}
.shangyiye{
	color: #4d4d4d;
	font-size: 20px;
	line-height: 24px;
	display: block;
	float: left;
}
.xiayiye{
	color: #4d4d4d;
	font-size: 20px;
	line-height: 24px;
	display: block;
	float: right;
}
.page{
	width: 24px;
	height: 24px;
	border-radius: 50%;
	background-color: #e5e5e5;
	color: #184f6b;
	font-size: 14px;
	line-height: 24px;
	text-align: center;
	float: left;
	margin-left: 24px;
}
.page_1{
	font-size: 14px;
	float: left;
	color: #184f6b;
	margin-left: 24px;
}
.page:hover{
	color: #fff;
	background-color: #184f6b;
}
.foot{
	width: 100%;
	height: 445px;
	background-color: #245974;
	margin-top: 45px;
	padding-top: 72px;
}
.foot_content{
	width: 1002px;
	height: 370px;
	margin: 0 auto ;
/* 	background-color: pink; */
	position: relative;
}
.foot_content_address{
	width: 1002px;
	height: 160px;
	background-image: url('../img/images/address.png')
}
.dibiao{
	margin-left: 295px;
	margin-top: 52px;
	float: left;
}
.foot_content_address_xiangqing{
	width: 273px;
	height: 56px;
	border-radius: 10px;
	background-color: #2b6c8c;
	float: left;
	margin-left: 39px;
	margin-top: 41px;
	padding-left: 23px;
	padding-top: 15px;
}
.foot_content_address_xiangqing_1{
	color: #fff;
	font-size: 14px;
	letter-spacing: 5px;
}
.foot_content_address_xiangqing_2{
	color: #fff;
	font-size: 14px;
	margin-top: 5px;
}
.foot_content_email_name{
	width: 163px;
	height: 29px;
	padding-left: 20px;
	margin-top: 43px;
	border:none;
}
.foot_content_email_name_1{
	margin-left: 11px;
}
.foot_content_email_content{
	display: block;
	border:none;
	resize:none;
	width: 362px;
	height: 111px;
	margin-top: 12px;
	padding-left: 20px;
	padding-top: 15px;
}
.foot_content_email_content_send{
	width: 69px;
	height: 25px;
	position: absolute;
	top: 333px;
	left: 290px;
}
.foot_content_email_content_send_left{
	width: 43px;
	height: 23px;
	border-bottom: 2px solid #88adbf;
	float: left;
	font-size: 14px;
	font-weight: bold;
	color:#2b6c8c;
	line-height: 23px;
}
.foot_content_email_content_send_right{
	width: 26px;
	height: 25px;
	background-color: #2b6c8c;
	float: left;
	font-size: 14px;
	font-weight: bold;
	color:#fff;
	line-height: 25px;
	text-align: center;
}
.foot_content_sendemail{
	float: left;
}
.foot_content_more{
	width: 298px;
	height: 167px;
	float: left;
/* 	background-color: #fff; */
	margin: 43px 0 0 67px;
}
.foot_content_more_top{
	width: 298px;
	height: 32px;
/* 	background-color: skyblue; */
	padding-top: 7px;
}
.foot_content_more_top_cn{
	font-size: 14px;
	color: #fff;
}
.foot_content_more_top_en{
	font-size: 14px;
	font-family: "San Francisco Display Light";
	color: #7f96a5;
}
.foot_content_more_bottom{
	width: 298px;
	height: 106px;
/* 	background-color: yellowgreen; */
	margin-top: 22px;
}
.foot_content_more_bottom_list{
	display: flex;
	justify-content: space-between;
}
.foot_content_more_bottom_list a{
	font-size: 14px;
	color: #fff;	
}
.foot_content_more_bottom_list a:hover{
	color: #adc4d2;
}
.foot_content_more_bottom_list_1{
	margin-top: 8px;
}
.foot_content_meitiyunying{
	width: 168px;
	height: 159px;
/* 	background-color: red; */
	float: right;
	margin-top: 43px;
	padding-top: 8px;
}
.foot_content_meitiyunying_top{
	width: 140px;
	height: 31px;
}
.foot_content_meitiyunying_top_name1{
	font-size: 14px;
	color: #fff;
}
.foot_content_meitiyunying_top_name2{
	font-size: 13px;
	font-family: "San Francisco Display Light";
	color: #7f96a5;
}
.foot_content_meitiyunying_mid{
	width: 158px;
	height: 88px;
	padding-left: 9px;
}
.weibo,.weinxin,.qq{
	margin-top: 35px;
}
.weixin,.qq{
	margin-left: 28px;
}
.foot_content_meitiyunying_bottom{
	width: 168px;
	height: 40px;
/* 	background-color: blue; */
}
.foot_content_meitiyunying_bottom span{
	font-size: 12px;
	color: #fff;
}
.foot_2{
	width: 100%;
	height: 42px;
	background-color: #000;
	text-align: center;
	padding-top: 14px;
}
.foot_2 span{
	font-size: 12px;
	color: #7b7b7b;
	font-weight: bold;
	display: inline-block;
	text-align: center;
}